" show number
set relativenumber number
"set numberwidth=1
set showmode
set so=5
set incsearch
set clipboard+=unnamed
set wildmenu
set ruler
set hlsearch
set easymotion
let g:EasyMotion_override_acejump = 0
set keep-english-in-normal
set commentary
set surround
Plug 'machakann/vim-highlightedyank'
