[Appearance]
HideSkinBorders=true

[Behavior]
RememberFullscreen=true

[Desktop Entry]
DefaultProfile=black.profile

[Dialogs]
FirstRun=false

[KFileDialog Settings]
detailViewIconSize=16

[Window]
DynamicTabTitles=true
Height=100
Screen=1
ShowTabBar=false
ShowTitleBar=false
Width=100
