[Appearance]
ColorScheme=Breeze
Font=Cascadia Mono PL,13,-1,5,50,0,0,0,0,0
UseFontLineChararacters=true

[General]
Command=/bin/zsh
Directory=~/Desktop
Name=black
Parent=FALLBACK/
TerminalCenter=false
TerminalMargin=0

[Scrolling]
HistoryMode=2
ScrollBarPosition=2
