[Appearance]
AntiAliasFonts=true
BoldIntense=true
ColorScheme=Breeze
Font=Cascadia Mono PL,13,-1,5,50,0,0,0,0,0
UseFontLineChararacters=true

[General]
Command=/bin/zsh
Directory=~/Desktop
Name=black
Parent=FALLBACK/
TerminalCenter=true
TerminalMargin=0

[Scrolling]
HistoryMode=1
HistorySize=1000
ScrollBarPosition=2
