{ config, pkgs, ... }:

{
  home.username = "{{ .chezmoi.group }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";
  home.stateVersion = "22.11";

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;

  # local config
  imports = [
    ./local.nix # example: imports = [ ./hostname.nix ];
  ];

  # https://nix-community.github.io/home-manager/index.html#_why_are_the_session_variables_not_set
  # if Home Manager doesn't manage shell, add this to shell config
  # source "$HOME/.nix-profile/etc/profile.d/hm-session-vars.sh"
}
